body{
	background-image: url(../signup.jpg);
	height: 630px;
	background-size: cover;
	background-position: center;
}
.loginbox{
	width: 400px;
	height: 600px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar1{
	width: 80px;
	height: 80px;
	border-radius: 70%;
	position: absolute;
	top: -30px;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0px;
	text-align: center;
	font-size: 22px;

}
.loginbox p{
 margin: 0;
 padding: 0;
 font-weight: bold;

}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	background: #1c8adb;
	height: 40px;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="radio"]
{
	margin-left: -10px;
	margin-top: -15px;

}

.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background: #39dc79;
	color:#000;
}

select {
 height: 30px;
 width: 80px;
 margin-top: 5px;
}
.loginbox input[type="number1"]
{
 height: 30px;
 width: 180px;
}


.loginbox input[type="text1"]
{
	height: 30px;
	width: 90px; 
	font-size: 16px;
	margin-top: -5px;
}
h4 {
	margin-top: -5px;
}

h3 {
	margin-top: -10px;
}


.male input[type="radio"]{
	
	height: 15px;
	width: 20px;
	margin-left: 10px;


}

.female input[type="radio"]{
	
	height: 15px;
	width: 20px;

   }
.female{
	margin-right: 170px;
	font-size: 18px;
}
